/* Menu Style Sheet */

.leftMenu
{
	font-family:	verdana, arial, sans-serif;
	font-size:	12px;

	padding:	0;

	width: 60px;

	white-space:	nowrap;
	cursor:		default;
}

.leftSubMenuTable
{
	font-family:	verdana, arial, sans-serif;
	font-size:	12px;

	padding:	0;

	white-space:	nowrap;
	cursor:		default;
}

.leftSubMenu
{
	position:	absolute;
	visibility:	hidden;

	/*
	   Netscape/Mozilla renders borders by increasing
	   their z-index.  The following line is necessary
	   to cover any borders underneath
	*/
	z-index:	100;
	border:		0;
	padding:	0;

	overflow:	visible;
	border:		1px solid #8C867B;

	filter:progid:DXImageTransform.Microsoft.Shadow(color=#BDC3BD, Direction=135, Strength=4);
}

.leftSubMenuTable
{
	overflow:	visible;
}

.leftMainItem,.leftMainItemHover,.leftMainItemActive,
.leftMenuItem,.leftMenuItemHover,.leftMenuItemActive
{
	border:		0;
	cursor:		default;
	white-space:	nowrap;
	font-size: 25px;
}

.leftMainItem
{
	background-color:	#838899;
	color:#ffffff;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:23px;
}

.leftMainItemHover,.leftMainItemActive
{
	background-color:	#D5D5E0;
	color:#838899;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:23px;
}

.leftMenuItem
{
	background-color:	#eaf3ff;
	color: #333333;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:23px;
}

.leftMenuItemHover,.leftMenuItemActive
{
	background-color:	#FFFFFF;
	color: #000000;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:23px;
}


/* horizontal main menu */


.leftMainFolderLeft,.leftMainItemLeft,
.leftMainFolderText,.leftMainItemText,
.leftMainFolderRight,.leftMainItemRight
{
	background-color:	inherit;
	font-size: 12px;
}

/* vertical main menu sub components */

td.leftMainFolderLeft,td.leftMainItemLeft
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	0px;
	padding-right:	2px;

	border-top:		1px solid #FFFFFF;
	border-left:		1px solid #FFFFFF;
	border-bottom:		1px solid #FFFFFF;

	background-color:	inherit;
}

td.leftMainFolderText,td.leftMainItemText
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	5px;
	padding-right:	5px;

	border-top:		1px solid #FFFFFF;
	border-right:		1px solid #FFFFFF;
	height: 20px;

	color: #d3e7ff;
	background-color:	#3276c9;
	white-space:	nowrap;
}

td.leftMainFolderRight,td.leftMainItemRight
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	0px;
	padding-right:	0px;

	border-top:		1px solid #FFFFFF;
	border-right:		1px solid #FFFFFF;
	border-bottom:		1px solid #FFFFFF;

	background-color:	inherit;
}

tr.leftMainItem td.leftMainFolderLeft,
tr.leftMainItem td.leftMainItemLeft
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	1px;
	padding-right:	2px;

	white-space:	nowrap;

	border:0;
	background-color:	inherit;
}

tr.leftMainItem td.leftMainFolderText,
tr.leftMainItem td.leftMainItemText
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	5px;
	padding-right:	5px;

	color: #FFFFFF;
	background-color:	#4e8ad3;

	white-space:	nowrap;
}

tr.leftMainItem td.leftMainItemRight,
tr.leftMainItem td.leftMainFolderRight
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	0px;
	padding-right:	1px;

	border:		0;
	background-color:	inherit;
}

/* sub menu sub components */

.leftMenuFolderLeft,.leftMenuItemLeft
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	1px;
	padding-right:	3px;

	border-top:		1px solid #838899;
	border-bottom:	1px solid #838899;
	border-left:	1px solid #838899;

	background-color:	inherit;
	white-space:	nowrap;
}

.leftMenuFolderText,.leftMenuItemText
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	5px;
	padding-right:	5px;

	border-top:	1px solid #838899;
	border-bottom:	1px solid #838899;

	background-color:	inherit;
	white-space:	nowrap;
}

.leftMenuFolderRight,.leftMenuItemRight
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	0px;
	padding-right:	0px;

	border-top:	1px solid #838899;
	border-bottom:	1px solid #838899;
	border-right:	1px solid #838899;

	background-color:	inherit;
	white-space:	nowrap;
}

.leftMenuItem .leftMenuFolderLeft,
.leftMenuItem .leftMenuItemLeft
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	2px;
	padding-right:	3px;

	white-space:	nowrap;

	border:		0;
	background-color:	#D5D5E0;
}

.leftMenuItem .leftMenuFolderText,
.leftMenuItem .leftMenuItemText
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	5px;
	padding-right:	5px;

	border:		0;
	background-color:	inherit;
}

.leftMenuItem .leftMenuFolderRight,
.leftMenuItem .leftMenuItemRight
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	0px;
	padding-right:	1px;

	border:		0;
	background-color:	inherit;
}

/* menu splits */

.leftMenuSplit
{
	margin:		2px;
	height:		1px;
	overflow:	hidden;
	background-color:	inherit;
	border-top:	1px solid #C6C3BD;
}

/* image shadow animation */

/*
	seq1:	image for normal
	seq2:	image for hover and active

	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.leftMenuItem .seq2,
.leftMenuItemHover .seq2,
.leftMenuItemActive .seq2
{
	display:	none;
}

.leftMenuItemHover .seq1,
.leftMenuItemActive .seq1
{
	display:	inline;
}



.leftMainItem img.seq1
{
	display:	inline;
}


.leftMainItem .seq2,
.leftMainItemHover .seq1,
.leftMainItemActive .seq1
{
	display:	none;
}
